div.product{
    text-align: center;
    color: #2e2d2d;
    width: calc(25% - 30px);
    font-family: "Mouse Memoirs", sans-serif;
  }
img.product-image{
    width: 100%;
    border-radius: 16px;
}

p.product-name{
    font-family: "Mouse Memoirs", sans-serif;
    font-size: 26px;
    margin-top: 10px;
}

p.product-price{
    font-family: 'Segoe UI', sans-serif;
    margin-top: 15px;
    font-size: 20px;
}