span{
    display: block;
    width: 100%;
    background: #383838;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    padding: 7px;
}

header{
    /* width: 100%; */
    background: #a95199;
    font-family: 'Segoe UI', sans-serif;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 0;
}

img.logo{
    width: 74px;
}

nav ul{
    display: flex;
    gap: 30px;
}